<div class='main'>
  <div class='navbar'>
    <div class='nav_background'>
      <div class='logo'> <%= image_tag 'logo_hex', style: 'height:auto;width:4vw;'%> </div>
      <div class='nav_items'>
        <div class='nav_item'><i class="fas fa-project-diagram"></i></div>
        <div class='nav_item'><i class="fas fa-users"></i></div>
        <div class='nav_item'><i class="fas fa-user-tie"></i></div>
        <div class='nav_item'><i class="fas fa-chart-bar"></i></div>
        <div class='nav_item'><i class="fas fa-money-bill-wave"></i></div>
        <div class='nav_item'><i class="fas fa-ticket-alt"></i></div>
        <div class='nav_item'><i class="fas fa-cog"></i></div>
        <div class='nav_item'><i class=""></i></div>
      </div>
      <div class="user">
          <div class='profile'><i class="fas fa-user"></i></div>
          <div class="logout"><%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i><% end %></div>
      </div>
    </div>
  </div>
</div>