<div class="notif_background">
    <div class="notif_content">
        <div class="notif_number_background notif_number_active">
            <div class="notif_number_num">
                1
            </div>
        </div>
        <div class="notif_icone">
            <i class="fas fa-bell"></i>
        </div>
    </div>
</div>
