<div class="modal-button" id="id">
    Contenu
</div>

<div class="hex_modal" id="id">
    <div class="background">
        <div class="header">
            <div class="modal-close" id="id">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="content">
            Contenu
        </div>
    </div>
</div>