<div class="mise_en_page1">
    <div class="part reductible">
        <div class="titre_reducteur">
            <h2>Title</h2>
            <div class="i_reduit"><i class="fas fa-angle-right fa-2x"></i></div>
            <div class="i_developpe"><i class="fas fa-angle-down fa-2x"></i></div>
        </div>
        <div class="content_reducteur">
            Content
        </div>
    </div>
</div>