.dropdown {
  position: relative;
  .drop_button {
    cursor: pointer;
  }
  .drop_content {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    top: 100%;
    z-index: 100;
    border: 1px solid var(--gris);
    .line {
      background-color: var(--blanc);
      width: 100%;
      padding: 1% 3%;
      a {
        width: 100%;
        display: block;
        font-weight: 400;
        font-size: 20px;
        color: var(--noir);
        text-decoration: none;
        @media only screen and (max-width: 800px) {
          font-size: 13px;
        }
        @media only screen and (min-width: 801px) and (max-width: 1050px) {
          font-size: 18px;
        }
      }
    }
    .small_line {
      width: 100%;
      padding: 1% 3%;
      background-color: white;
      text-align: center;
      font-style: italic;
      font-size: 14px;
      @media only screen and (max-width: 800px) {
        font-size: 10px;
      }
      @media only screen and (min-width: 801px) and (max-width: 1050px) {
        font-size: 12px;
      }
    }
    .line:hover {
      background-color: var(--gris);
    }
  }
  .dropdown_active {
    display: flex;
  }
}

#background_overlay {
  display: none;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
