.formulaire {
  margin-top: 3vh;
  .input {
    display: flex;
    gap: 5%;
    div {
      flex: 1 1 0;
      label {
        color: var(--noir);
        margin: 0%;
      }
      input {
        border: none;
        border-bottom: 2px solid var(--jaune-hex);
        background: none;
        :valid {
          border-bottom: var(--vert);
        }
      }
      textarea {
        border: none;
        border-bottom: 2px solid var(--jaune-hex);
        background: none;
      }
      select {
        border: none;
        background-color: transparent;
        border-bottom: 2px solid var(--jaune-hex);
      }
    }
  }
  .selector {
    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      .select2-container {
        span {
          .select2-selection {
            border: none;
            background-color: transparent;
            border-bottom: 2px solid var(--jaune-hex);
            border-radius: 0;
          }
        }
      }
    }
  }
  .array_forms {
    display: block;
    margin: 2vh 0%;
    .array_input {
      display: flex;
      flex-direction: column;
      .label {
        color: var(--bleu-hex);
        font-weight: 900;
        font-family: var(--font-primaire-hex);
        margin: 0%;
      }
      .inputs {
        div {
          display: flex;
          flex-wrap: wrap;
          gap: 1%;
          .array_item_input {
            margin-top: 1%;
            width: auto;
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            .array_item_delete_btn {
              position: relative;
              top: 25%;
              cursor: pointer;
              i {
                color: red;
                font-size: 10px;
              }
            }
            input {
              border: none;
              border-bottom: 2px solid var(--jaune-hex);
              background: none;
              :valid {
                border-bottom: var(--vert);
              }
            }
          }
        }
      }
    }
    .btn {
      width: auto;
      height: auto;
      color: var(--bleu-hex);
      border-radius: 30px;
    }
    .btn:hover {
      color: var(--jaune-hex) !important;
    }
  }
}
.button {
  input,
  button {
    width: auto;
    height: auto;
    background-color: var(--bleu-hex);
    color: var(--blanc);
    border-radius: 30px;
  }
  .btn:hover {
    color: var(--jaune-hex) !important;
  }
  .vert {
    background-color: var(--vert);
  }
  .rouge {
    background-color: var(--rouge);
  }
  .jaune {
    background-color: var(--jaune);
  }
}

.text-area-wrapper {
  width: 100% !important;
  :focus {
    outline: none;
    box-shadow: none;
  }
}
