.formulaire {
  margin-top: 3vh;
  .input {
    display: flex;
    gap: 5%;
    div {
      flex: 1 1 0;
      label {
        color: var(--noir);
        margin: 0%;
      }
      input {
        border: none;
        border-bottom: 2px solid var(--jaune-hex);
        background: none;
        :valid {
          border-bottom: var(--vert);
        }
      }
    }
  }
}
.button {
  input {
    width: auto;
    height: auto;
    background-color: var(--bleu-hex);
    color: var(--blanc);
    border-radius: 30px;
  }
  .btn:hover {
    color: var(--jaune-hex) !important;
  }
}
