.mise_en_page1 {
  .part {
    border-bottom: 3px solid var(--bleu-hex);
  }
  .reductible {
    .titre_reducteur {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .i_reduit {
        display: block;
        i {
          color: var(--bleu-hex);
          size: 14px;
        }
      }
      .i_developpe {
        display: none;
        i {
          color: var(--bleu-hex);
          size: 14px;
        }
      }
    }
    .content_reducteur {
      display: none;
    }
  }
}

.mise_en_page2 {
  .part {
    border: 2px solid var(--jaune-hex);
    border-radius: 10px;
    padding: 0% 1%;
  }
  .reductible {
    margin: 1% 0%;
    .titre_reducteur {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .i_reduit {
        display: block;
        i {
          color: var(--bleu-hex);
          size: 14px;
        }
      }
      .i_developpe {
        display: none;
        i {
          color: var(--bleu-hex);
          size: 14px;
        }
      }
    }
    .content_reducteur {
      display: none;
    }
  }
  .border_vert {
    border-color: var(--vert);
  }
  .border_rouge {
    border-color: var(--rouge);
  }
  .border_noir {
    border-color: var(--noir);
  }
  .border_jaune {
    border-color: var(--jaune-hex);
  }
  .border_bleu {
    border-color: var(--bleu-hex);
  }
}

.display_donnee {
  display: flex;
  gap: 5%;
  div {
    flex: 1 1 0;
    .label_donnee {
      color: var(--jaune-hex);
      margin: 0%;
      font-weight: 600;
      font-style: italic;
    }
    .donnee {
      border: none;
      border-bottom: 2px solid var(--jaune-hex);
      color: var(--noir);
      margin-bottom: 1vh;
      background: none;
      font-weight: 500;
    }
  }
  .small-list {
    display: flex;
    flex: 0 0 0;
    gap: 3px;
    justify-items: center;
    .small-item {
      padding: 1% 3%;
      width: auto;
      border: 2px solid var(--jaune-hex);
    }
    .vert {
      border-color: var(--vert);
    }
    .rouge {
      border-color: var(--rouge);
    }
    .jaune {
      border-color: var(--jaune-hex);
    }
  }
  .small-list2 {
    display: flex;
    flex: 0.1 0 0;
    gap: 3px;
    justify-items: center;
    .small-item {
      padding: 1% 3%;
      width: auto;
      border: 2px solid var(--jaune-hex);
      text-align: center;
    }
    .vert {
      border-color: var(--vert);
    }
    .rouge {
      border-color: var(--rouge);
    }
    .jaune {
      border-color: var(--jaune-hex);
    }
  }
}

.junior_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  margin-bottom: 1%;
  .junior_logo {
    .logo {
      height: 75px;
      width: auto;
    }
  }
  .junior_name {
    font-size: 35px;
    font-weight: 700;
  }
}

.middle_message {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bigtext {
    font-size: 100px;
    font-weight: 700;
    text-align: center;
  }
  .smalltext {
    font-size: 30px;
    font-weight: 400;
  }

  .jaune {
    color: var(--jaune-hex);
  }
  .bleu {
    color: var(--bleu-hex);
  }
  .reduce_margin_bottom_2 {
    margin-bottom: -2%;
  }
  .add_margin_bottom_1 {
    margin-bottom: 1%;
  }
}
