.page_main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  .navbar {
    padding: 0rem 0rem !important;
    position: fixed;
    .nav_background {
      height: var(--height-navbar);
      width: var(--width-navbar);
      background-color: var(--bleu-hex);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 2vh 0%;
      .nav_items {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .nav_item {
          color: var(--blanc);
          margin: 1vh 0vw;
          .avatar {
            border: 1px solid;
            border-radius: 50%;
            width: 2vw;
            height: 2vw;
          }
          :hover {
            color: var(--hover-blue);
            cursor: pointer;
          }
        }
      }
      .active {
        display: flex;
      }
      .nav_header {
        .logo {
          height: auto;
          width: 4vw;
          color: var(--blanc);
        }
        .profiles {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          .profile {
            font-size: 10px;
            color: var(--blanc);
            :hover {
              color: var(--hover-blue);
              cursor: pointer;
            }
          }
          .active {
            color: var(--jaune-hex);
          }
        }
      }
      .user {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .profile {
          font-size: 11px;
        }
        .logout {
          display: flex;
          align-items: center;
          a {
            font-size: 11px;
          }
        }
      }
    }
  }
}
