.notification {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  cursor: pointer;
  .notif_background {
    background-color: var(--bleu-hex);
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .notif_content {
      .notif_number_background {
        display: none;
        position: absolute;
        background-color: var(--jaune-hex);
        width: 1.7vh;
        height: 1.7vh;
        border-radius: 50%;
        justify-content: center;
        align-content: center;
        top: 10%;
        right: 15%;
        .notif_number_num {
          font-size: 1vh;
          font-weight: 700;
          color: var(--blanc);
        }
      }
      .notif_number_active {
        display: flex;
      }
      .notif_icone {
        color: white;
        i {
          font-size: 2.5vh;
        }
      }
    }
  }
}
