.options {
  --bleu-hex: #0000ff;
  --jaune-hex: #ffba09;
  --jaune: #ffba09;
  --blanc: #ffffff;
  --blanc-fond: #fafafa;
  --gris: lightgrey;
  --noir: #000000;
  --hover-blue: #035ac1;
  --bleu-hex-33-opacity: rgba(0, 0, 255, 0.33);
  --vert: #1edd88;
  --rouge: #e20025;
  --font-primaire-hex: "Poppins", sans-serif;
  --font-secondaire-hex: "Open Sans", sans-serif;
  --margin-left-content: 4vw;
  --width-navbar: 4vw;
  --height-navbar: 100vh;
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--blanc-fond);
  :hover {
    color: var(--hover-blue);
    text-decoration: none;
  }
}

.lien_bleu {
  a {
    color: var(--bleu-hex);
  }
  :hover {
    color: var(--hover-blue);
    text-decoration: none;
  }
}

.lien_jaune {
  a,
  div {
    font-size: 12px;
    font-weight: 700;
    color: var(--jaune-hex);
    border-bottom: none !important;
  }
  :hover {
    color: var(--hover-blue);
    text-decoration: none;
  }
}

h1 {
  color: var(--noir);
  font-size: 24px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  color: var(--bleu-hex);
  font-size: 16px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.h3 {
  color: var(--hover-blue) !important;
  font-style: italic;
  font-size: 14px !important;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif;
  border: none !important;
  margin-top: 1px;
  width: 100% !important;
  padding-top: 1%;
  a {
    color: var(--hover-blue);
    :hover {
      color: var(--jaune-hex);
      text-decoration: none;
    }
  }
}

.h4 {
  color: var(--jaune-hex);
  font-size: 12px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  a {
    color: var(--bleu-hex);
  }
}

.margin_top_3 {
  margin-top: 3vh;
}

.version_jestion {
  position: fixed;
  top: 1%;
  right: 1%;
  font-size: 10px;
  font-weight: 600;
  color: #ffba09;
}

.h_align_self {
  align-self: center;
}

.txt_vert {
  color: var(--vert);
}

.txt_rouge {
  color: var(--rouge);
}

.txt_bleu {
  color: var(--bleu-hex);
}
