.page_content {
  margin-left: var(--margin-left-content);
  width: 100%;
  height: 100%;
  padding: 5vh 3vw;
  .user_page_header {
    display: flex;
    flex-direction: row;
    gap: 1%;
    align-items: center;
    margin-bottom: 1%;
    .avatar {
      display: flex;
      justify-self: center;
      align-self: center;
      border: none;
      border-radius: 50%;
      width: 7vw;
      height: 7vw;
      object-fit: cover;
    }
    .nom {
    }
  }
}
